<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToDo Application</title>

    <link rel="stylesheet" href="/static/css/semantic.min.css">
    <link rel="stylesheet" href="/static/css/main.css">
    <script type="text/javascript" src="/static/js/libs/jQuery.min.js"></script>
  	<script type="text/javascript" src="/static/js/newTask.js"></script>
  </head>
<body>
	<h1 align="center">ToDo Application</h1>
  {% if parent_task_id %}
	   <h3>Create a new Sub-Task</h3>
  {% else %}
    <h3>Create a new Task</h3>
  {% endif %}
  <div class="ui grid">
      <div class="six wide column">
        <form id="newTask" class="ui form" method="post">
          {% csrf_token %}
          <div class="field required">
            <label>Title</label>
            <input type="text" name="title" placeholder="Title" required>
          </div>
          <div class="field">
            <label>Description</label>
            <input type="text" name="description" placeholder="Description">
          </div>
          <div class="field required">
            <label>Due Date</label>
            <input type="datetime-local" name="dueDate" placeholder="Due date" required>
          </div>
          <div class="field required">
            <label>Alert before <small>(In HH:MM)</small></label>
            <input type="time" name="alertTime" placeholder="Alert before" required> 
          </div>
          <button class="ui button" onclick="onSubmit(event)">Submit</button>
        </form>
        <div id="errorMessage" class="ui error message hidden">
          <div class="header">
            There were some errors with your submission
          </div>
          <ul class="list">
            <li>You must specify a unique title</li>
            <li>Title, Due date and Alert times are mandatory</li>
          </ul>
        </div>
      </div>
  </div>
</body>
</html>